n8n/workflows/bio-ai-integration.json
[
  {
    "name": "SmarterOS v5 - Bio-AI Integration (Latam-GPT + Cortical Labs)",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "bio-ai-process",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-bio-ai",
        "name": "Webhook (Bio-AI)",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [250, 300]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://bio-ai-bridge:8000/process-bio-request",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "user_input",
                "value": "={{ $json.message || $json.text }}"
              },
              {
                "name": "cluster_id",
                "value": "dishbrain_001"
              },
              {
                "name": "require_biological_feedback",
                "value": true
              }
            ]
          },
          "options": {
            "headerParameters": {
              "parameters": [
                {
                  "name": "X-API-Key",
                  "value": "smarteros_bio_2026"
                }
              ]
            }
          }
        },
        "id": "bio-ai-bridge",
        "name": "HTTP: Bio-AI Bridge",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [450, 300]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.supabase.co/rest/v1/bio_ai_logs",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "user_input",
                "value": "={{ $json.message }}"
              },
              {
                "name": "latam_analysis",
                "value": "={{ JSON.stringify($json.latam_gpt_analysis) }}"
              },
              {
                "name": "biological_feedback",
                "value": "={{ JSON.stringify($json.biological_feedback) }}"
              },
              {
                "name": "decision",
                "value": "={{ $json.decision }}"
              },
              {
                "name": "timestamp",
                "value": "={{ $json.timestamp }}"
              }
            ]
          },
          "options": {
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "Bearer YOUR_SUPABASE_KEY"
                },
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            }
          }
        },
        "id": "log-to-supabase",
        "name": "HTTP: Log to Supabase",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [650, 200]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.telegram.org/botYOUR_BOT_TOKEN/sendMessage",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "chat_id",
                "value": "YOUR_CHAT_ID"
              },
              {
                "name": "text",
                "value": "🧠 Bio-AI Event\n\nInput: {{ $json.message }}\n\nLatam-GPT: {{ $json.latam_gpt_analysis.sentiment }}\n\nDecision: {{ $json.decision }}\n\nBiological Feedback: {{ $json.biological_feedback ? '✅ Sent' : '❌ Not sent' }}"
              }
            ]
          },
          "options": {}
        },
        "id": "telegram-notification",
        "name": "Telegram: Notify",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [650, 400]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{ \"success\": true, \"message\": \"Bio-AI processed\", \"data\": {{ JSON.stringify($json) }} }",
          "options": {}
        },
        "id": "respond-success",
        "name": "Respond Success",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [850, 300]
      }
    ],
    "connections": {
      "Webhook (Bio-AI)": {
        "main": [
          [
            {
              "node": "HTTP: Bio-AI Bridge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP: Bio-AI Bridge": {
        "main": [
          [
            {
              "node": "HTTP: Log to Supabase",
              "type": "main",
              "index": 0
            },
            {
              "node": "Telegram: Notify",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP: Log to Supabase": {
        "main": [
          [
            {
              "node": "Respond Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram: Notify": {
        "main": [
          [
            {
              "node": "Respond Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": false,
    "settings": {},
    "versionId": "v5-bio-ai-integration",
    "id": "smarteros-bio-ai-workflow",
    "name": "SmarterOS v5 - Bio-AI Integration",
    "tags": [
      {
        "name": "smarteros"
      },
      {
        "name": "bio-ai"
      },
      {
        "name": "latam-gpt"
      },
      {
        "name": "cortical-labs"
      }
    ]
  }
]
